body {
    background-color:bisque;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loading-spinner {
    width: 100%;
}

.hidden {
    display: none;
}

.show-previous {
    text-align: center;
}

.show-previous:hover {
    cursor: pointer;
    background-color: #666;
    color: white;
}

.menu-icon {
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    font-size: 30px;
    width: 60px;
    text-align: center;
}

.menu-icon:hover {
    background-color:azure;
    color: black;
    border-radius: 10px;
}

ul.menu {
    padding: 80px 0px;
    background-color: #333;
    color: white;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 1; 
}

ul.menu > li {
    list-style: none;;
}
ul.menu > li:hover {
    background-color: #666;
    cursor: pointer;
}

ul.menu > li > a {
    display: block;
    padding: 20px;
    color: inherit;
    text-decoration: inherit;
}